# === GENERAL ===
.env
*.env
*.log
*.tmp
.vscode/
.DS_Store

# === DOCKER ===
docker-compose.override.yml

# === MAVEN / JAVA ===


# Maven Wrapper
#.mvn/
#!.mvn/wrapper/maven-wrapper.jar

# === ANGULAR ===


# Angular env
.env.local
